<% if @article.errors.any? %>
  <h2>The following errors prevented the article from being saved</h2>
    <u>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </u>
<% end %>
